/* ================================
   ESTILO GERAL
================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background: #fff;
    color: #222;
}

/* ================================
   NAVBAR
================================= */

.navbar {
    width: 100%;
    padding: 18px 40px;
    background: #ffffffd2;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 99;
}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
    color: #004aad;
}

.navbar nav a {
    margin-left: 28px;
    text-decoration: none;
    font-size: 16px;
    color: #222;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: #004aad;
}

/* ================================
   HERO
================================= */

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;

    /* sua imagem */
    background: url('../img/capa.jpg') center/cover no-repeat;

    padding: 20px;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0,0,0,0.6);
    margin-bottom: 15px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 25px;
    text-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.btn {
    display: inline-block;
    padding: 14px 28px;
    background: #004aad;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #003b86;
}

/* ================================
   SEÇÃO SOBRE
================================= */

.sobre {
    padding: 80px 20px;
    text-align: center;
}

.sobre h2 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #004aad;
}

.sobre p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    color: #444;
}

/* ================================
   RODAPÉ
================================= */
